.many-clients {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 45px 0;
  text-align: center;
  @include media-laptop {
    min-height: 485px;
  }
  &__title {
    position: relative;
    z-index: 1;
    font-weight: 650;
    font-size: 22px;
    line-height: 124.3%;
    @include media-tablet {
      font-size: 36px;
    }
    @include media-laptop {
      font-size: 50px;
    }
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42%, -54%);
    height: 250%;
    pointer-events: none;
    @include media-tablet {
      width: 150%;
      max-width: 2070px;
      height: auto;
      transform: translate(-50%, -51%);
    }
    @include media-laptop {
      width: 109%;
    }
    img {
      position: relative;
      max-width: unset;
      height: 100%;
      @include media-tablet {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
