mixin certified(mods)
  -
    const baseName = 'certified'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const items =[
      { icon: 'certified_calltouch', title: 'Официальные партнеры Cаlltouch', },
      { icon: 'certified_ya', title: 'Сертифицированное агенство Яндекс. Директ', },
      { icon: 'certified_vk', title: 'Сертифицированное агентство VK реклама ', },
    ]

  .certified(class=allMods)&attributes(attributes)
    each item, index in items
      a.certified__item(href='#')
        .certified__icon
          img(src=`../../images/${item.icon}.png`, alt='')
        .certified__text
          +ui-h4(item.title, 'certified, --bold')
          +ui-button('Посмотреть сертификат', 'certified, --text, --medium', '', 'icon_arrow_next')
    block
