.ui-input {
  position: relative;
  input {
    width: 100%;
    padding: 13px 18px;
    font-family: $fontInt;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.48;
    color: $bg-white;
    background: #1E1E1E;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: $transitionDuration;
    outline: none;
    &::placeholder {
      color: $body-text;
    }
    @include media-hover {
      border-color: #343434;
    }
    &:focus,
    &.filled {
      border-color: #343434;
    }
  }
  &__error {
    display: none;
    margin-top: 5px;
    font-size: 13px;
    line-height: 1.26;
    font-family: $fontInt;
    color: $error;
    &.active {
      display: block;
    }
  }
  &--light {
    input {
      background: transparent;
      color: $body-text;
      border-color: #DEDEDE;
      &::placeholder {
        color: $grey;
      }
      @include media-hover {
        border-color: #DEDEDE;
      }
      &:focus,
      &.filled {
        border-color: #DEDEDE;
      }
    }
  }
}
