extends ../../layouts/layout

block variables
  -
    const pageName = 'page-404'
    const pageTitle = 'page-404'
    const footerMods = 'footer--light'

block content
  main.main.main--404
    +section
      .inner
        +page-404
