.swipe {
  color: $main-color;
  &__wrapper {
    position: relative;
    margin: 0 calc(var(--inner-pd) * -1);
    padding: 60px 20px 25px;
    background: #b6d1ff;
    overflow: hidden;
    @include media-tablet {
      margin: 0;
      padding: 80px 40px 40px;
      border-radius: 10px;
    }
  }
  &__row {
    display: flex;
    gap: 25px;
    @include media-laptop {
      gap: 45px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
      @include media-tablet {
        margin-bottom: 35px;
      }
    }
  }
  &__img {
    height: 245px;
    @include media-tablet {
      height: 360px;
    }
    @include media-laptop {
      height: 481px;
    }
    &--s {
      height: 100px;
      @include media-tablet {
        height: 180px;
      }
      @include media-laptop {
        height: 266px;
      }
    }
    &--xs {
      height: 85px;
      @include media-tablet {
        height: 150px;
      }
      @include media-laptop {
        height: 214px;
      }
    }
  }
  &__label {
    margin-top: 24px;
    padding: 0 5px;
  }
  .swiper {
    overflow: visible;
    &-slide {
      width: max-content;
      min-width: 100%;
    }
  }
  &--label-top {
    .swipe {
      &__wrapper {
        display: grid;
        grid-template-columns: minmax(1px, 1fr);
        padding-top: 25px;
        padding-bottom: 40px;
        @include media-tablet {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
      &__label {
        order: -1;
        margin: 0 0 25px;
      }
    }
  }
  &--bg-dark-blue {
    color: $bg-white;
    .swipe__wrapper {
      background: #1f253d;
    }
  }
}
