extends ../../layouts/layout

block variables
  -
    const pageName = 'target'
    const pageTitle = 'Target'

  -
    const ServicesAdtItems =[
      { title: 'Проверка рекламных странинц', price: 'от 2 500 руб/ч.' },
      { title: 'Создание магазина&nbsp;(Vk)', price: 'от 500 руб/ч.' },
      { title: 'Разблокировка аккаунтов', price: 'от 2 500 руб' },
      { title: 'Отрисовка креативов', price: 'от 2 500 руб' },
      { title: 'Помощь в&nbsp;ведении профилей', price: 'от 2 500 руб' },
      { title: 'item hidden', price: 'от 2 500 руб', hidden: true },
      { title: 'item hidden', price: 'от 2 500 руб', hidden: true },
    ]

  -
    const countListItems =[
      { title: 'Быстрое освещение акций или&nbsp;новинок' },
      { title: 'Привязка пользователя к&nbsp;бренду' },
      { title: 'Расширенные настройки для&nbsp;подбора целевой аудитории' },
      { title: 'Точный геотаргетинг с&nbsp;радиусом от&nbsp;1&nbsp;км' },
    ]

  -
    const goalsItems ={
      items: [
        { title: 'Лид-формы',
          titleInner: 'Лид-формы',
          descr: 'Лид-формы — это инструмент для&nbsp;сбора контактных данных пользователей, заинтересованных в&nbsp;товаре или&nbsp;услуге.',
          imgs: [
            { src: 'goals_target_1_1.png', mods: 'goals__img--left-center goals__img--m' },
            { src: 'goals_target_1_2.png', mods: 'goals__img--right-center goals__img--xxs' },
          ]
        },
        { title: 'Реклама каталога',
          titleInner: 'Каталог',
          descr: 'Лид-формы&nbsp;&mdash; это инструмент для сбора контактных данных пользователей, заинтересованных в&nbsp;товаре или услуге.',
          imgs: [
            { src: 'goals_target_2_1.jpg', mods: 'goals__img--left-center goals__img--m' },
          ]
        },
        { title: 'Реклама сообщества',
          titleInner: 'Сообщество',
          descr: 'Лид-формы&nbsp;&mdash; это инструмент для сбора контактных данных пользователей, заинтересованных в&nbsp;товаре или услуге.',
          imgs: [
            { src: 'goals_target_3_1.jpg', mods: 'goals__img--left-center goals__img--m' },
          ]
        },
        { title: 'Реклама сайта',
          titleInner: 'Сайт',
          descr: 'Лид-формы&nbsp;&mdash; это инструмент для сбора контактных данных пользователей, заинтересованных в&nbsp;товаре или услуге.',
          imgs: [
            { src: 'goals_target_4_2.png', mods: 'goals__img--right-center goals__img--xxs goals__img--no-shadow goals__img--no-br' },
            { src: 'goals_target_4_1.jpg', mods: 'goals__img--left-center goals__img--m' },
          ]
        },
        { title: 'Реклама приложения',
          titleInner: 'Приложение',
          descr: 'Лид-формы&nbsp;&mdash; это инструмент для сбора контактных данных пользователей, заинтересованных в&nbsp;товаре или услуге.',
          imgs: [
            { src: 'goals_target_5_1.jpg', mods: 'goals__img--left-center goals__img--xs' },
          ]
        },
      ]
    }

  -
    const smallBannerData ={
      h2: 'Отвечаем на ваши вопросы',
      p1: 'Каждому нашему клиенту скидка 20%&nbsp;на&nbsp;консультацию  в&nbsp;течение 30&nbsp;минут',
      priceNew: '4000 ₽',
      priceOld: '5 000 ₽',
      btn: 'Заказать звонок',
      imgs: [
        { src: 'small_banner_img_questions_1.png', mods: '' },
        { src: 'small_banner_img_questions_2.png', mods: '', parallax: -17 },
        { src: 'small_banner_img_questions_3.png', mods: '', parallax: -8 },
        { src: 'small_banner_img_questions_4.png', mods: '', parallax: 14 },
        { src: 'small_banner_img_questions_5.png', mods: '', parallax: -17 },
        { src: 'small_banner_img_questions_6.png', mods: '', parallax: 12 },
        { src: 'small_banner_img_questions_7.png', mods: '', parallax: 10 },
      ]
    }

  -
    const tariffsData ={
      items: [
        { title: 'Подготовительные работы',
          price: '15 000 ₽',
          button: 'Оставить заявку',
          footnote: 'Возможно корректировки в&nbsp;зависимости от&nbsp;выбранной социальной сети.',
          props: [
            { name: 'Формирование УТП' },
            { name: 'Определение цели' },
            { name: 'Установка аналитики' },
            { name: 'Отрисовка креативов' },
            { name: 'Мониторинг конкурентов' },
          ]
        },
        { title: 'Настройка и&nbsp;сопровождение',
          price: '15 000 ₽',
          button: 'Оставить заявку',
          footnote: 'Возможно корректировки в&nbsp;зависимости от&nbsp;выбранной социальной сети.',
          props: [
            { name: 'Настройка рекламных компаний' },
            { name: 'Тестирование по&nbsp;разным параметрам' },
            { name: 'Мониторинг статистики' },
            { name: 'Оптимизации рекламной кампании' },
          ]
        },
        { title: 'Аудит',
          price: '5 000 ₽',
          button: 'Оставить заявку',
          footnote: 'Возможно корректировки в&nbsp;зависимости от&nbsp;выбранной социальной сети.',
          props: [
            { name: 'Все разделы для&nbsp;eCommerce ' },
            { name: 'Интеграция с&nbsp;1С ' },
            { name: 'Система управления Bitrix' },
            { name: 'Адаптивная версия' },
          ]
        },
      ]
    }

block content
  main.main
    +section('--ov-hidden')
      .inner
        +banner
    +section('--bg-grey, --mt0')
      .inner
        +section-head('--max-w-xxxs')
          +ui-h2('Особенности рекламы в&nbsp;социальных сетях:', 'section-head, --bold')
        +count-list(countListItems)
    +section
      .inner
        +section-head('--max-w-xxs')
          +ui-h2('Формат и цели', 'section-head, --bold')
          +ui-p1(`Для получения максимального результата, необходимо определиться
            с&nbsp;бизнес-целью рекламной кампании.
            Оставьте свои контакты и&nbsp;наши специалисты
            свяжутся с&nbsp;вами!`, 'section-head').text-body
        +goals(goalsItems)
    +section('--bg')
      +section('--ov-hidden')
        .inner
          +section-head('--max-w-xxs, --bb')
            +ui-h2('Цены за услуги', 'section-head, --bold')
            +ui-p1('У нас индивидуальный подход к&nbsp;каждому проекту и&nbsp;нет&nbsp;фиксированных цен. Стоимость формируется из&nbsp;объема работ.', 'section-head').text-grey

          +tariffs(tariffsData)

      +section
        .inner
          +section('--grid')
            +section-head('section')
              +ui-h2('Дополнительные услуги', 'section-head, --bold')
              +ui-p1('В нашем прайсе есть дополнительные услуги для&nbsp;вашего удобства', 'section-head').text-grey
            +section-main('section')
              +services-adt(ServicesAdtItems)#services-adt
            +ui-button('Смотреть все', 'section, --outline, --min-w, --px-xl')(onclick="toggleHidden(this, '#services-adt')" data-text-start='Смотреть все' data-text-end='Свернуть')
      +section
        .inner
          +small-banner(smallBannerData)
    +section('--ov-hidden')
      .inner
        +section-head('--t-flex, , --w-items-l')
          +ui-h2('Наша команда', 'section-head, --bold')
          +ui-p1('В нашей команде работают настоящие профи с&nbsp;креативным подходом и&nbsp;богатым багажом знаний!', 'section-head').text-body
        +team
    +section
      .inner
        +section-head
          +ui-h2('О компании', '--bold')
        +about-nums
    +section
      .inner
        +section-head
          +ui-h2('Сертифицированные  <br>специалисты', '--bold')
        +certified
    +section('--bg')
      +section
        .inner
          +section-head('--t-flex, --bb')
            +ui-h2('Этапы запуска вашего проекта', 'section-head, --bold')
            +ui-p1('Каждый проект индивидуален, именно поэтому на&nbsp;каждом этапе мы учитываем все нюансы и&nbsp;ваши пожелания!', 'section-head').text-grey
          +stages
      +section('--ov-hidden')
        +section
          .inner
            +section-head('--t-flex').text-center.text-center--t-left
              +ui-h2('Наши клиенты', 'section-head, --bold')
              +ui-p1('Мы работаем с&nbsp;крупными компаниями по&nbsp;всей России и&nbsp;за&nbsp;ее пределами', 'section-head').text-grey
            +clients#clients
            +section('--mt-xxxs', 'div').block-none.block-none--mobile.text-center
              +ui-button('Смотреть все', '--outline, --w100, --min-w, --px-xl')(onclick="toggleHidden(this, '#clients')" data-text-start='Смотреть все' data-text-end='Свернуть')
        +section
          +many-clients
        +section#section-form
          .inner
            +connection
    +popup#popup-thx
      +form-thx
