mixin case-desc(mods)
  -
    const baseName = 'case-desc'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .case-desc(class=allMods)&attributes(attributes)
    .case-desc__item
      +ui-h3('Цель', 'case-desc')
      .case-desc__text.case-desc__max-h
        +ui-p1('Клиент - магазин строительных инструментов, оборудования и запчастей. Главной задачей было сделать удобный интернет магазин с большим выбором товаров, удобным каталогом и личным кабинетом. Также была продумана удобная система выгрузки товара на сайт для владельца сайта. Это оптимизировало и ускорило процесс выгрузки новых товаров.', '--medium')
      .case-desc__more
        +ui-p1('Показать еще', '--medium')
        +ui-switch-button('case-desc')
    .case-desc__item
      +ui-h3('Задачи', 'case-desc')
      .case-desc__text.case-desc__max-h
        +ui-p1('', '--medium')
          ol
            li Анализ конкурентов
            li Визуальное исследование (мудборд и референсы);
            li Построение прототипа;
            li Определение общей визуальной концепции;
            li Создание всех страниц сайта;
            li Разработка и тестирование разных вариантов корзины и личного кабинета;
            li Разработка интерфейса системы выгрузки новых товаров на сайт;
            li Детальная прорисовка всех элементом интерфейсов, ховеров и модальных окон;
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
            li Подготовка дизайн к сдаче на верстку
      .case-desc__more
        +ui-p1('Показать еще', '--medium')
        +ui-switch-button('case-desc')
    .case-desc__item.case-desc__item--l-row-span2
      +ui-h3('Решение', 'case-desc')
      .case-desc__text.case-desc__max-h.case-desc__max-h--l-xl
        +ui-p1('', '--medium')
          p После анализа конкурентов и выбора референсов мы принялись к разработке главной страницы. Она содержит предложение актуальных товаров, фильтр товаров, поиск, информацию про акции, актуальные новости.
          p Для удобной навигации и поиска товаров по сайту мы вывели актуальные товары в предложенных, а также разместили фильтр товаров с категориями.
          p Подготовили баннеры под актуальные скидки и акции.
          p Разработали личный кабинет и корзину.
          p Также большое внимание было уделено разработке мобильной версии. Исходя из аналитики мы выяснили, что большая часть трафика идет с мобильных устройств, поэтому большой упор делали на разработку мобильной версии, чтобы посетитель мог легко найти нужный товар и заказать его. На сайте используется много оригинальных решений и разработок для формирования правильного технологического визуального образа и поддержания функционала.
          p На сайте используется много оригинальных решений и разработок для формирования правильного технологического визуального образа и поддержания функционала.
          p На сайте используется много оригинальных решений и разработок для формирования правильного технологического визуального образа и поддержания функционала.
          p На сайте используется много оригинальных решений и разработок для формирования правильного технологического визуального образа и поддержания функционала.
      .case-desc__more
        +ui-p1('Показать еще', '--medium')
        +ui-switch-button('case-desc')
      +tags([{text: '2000 руб. за лид', mods: 'tags__item--bg-blue'},{text: 'Конверсия +1,18%'},{text: 'Цена -40%'}], 'case-desc')
    block
