extends ../../layouts/layout

block variables
  -
    const pageName = 'smm'
    const pageTitle = 'Smm'

  -
    const ServicesAdtItems =[
      { title: 'Дизайнерское сопровождение', price: '2 000 руб/ч.' },
      { title: 'Удаление негативных комментариев ', price: '2 000 руб/ч.' },
      { title: 'Срочный постинг вне контент плана ', price: '2 000 руб/ч.' },
      { title: 'Оформление рекламной страницы', price: '2 000 руб/ч.' },
      { title: 'Таргетированная реклама', price: '2 000 руб/ч.' },
      { title: 'Таргетированная реклама', price: '2 000 руб/ч.', hidden: true },
      { title: 'Таргетированная реклама', price: '2 000 руб/ч.', hidden: true },
    ]

  -
    const tariffsData ={
      items: [
        { title: 'Тариф "Базовый"',
          price: '19 500 ₽',
          button: 'Оставить заявку',
          footnote: 'Возможно корректировки в&nbsp;зависимости от&nbsp;выбранной социальной сети.',
          props: [
            { name: 'Публикации в&nbsp;ленту - <span class="text-nowrap">8 / 10 шт.</span>' },
            { name: 'Публикации в&nbsp;истории - <span class="text-nowrap">до 10 шт.</span> +&nbsp;репосты постов из&nbsp;ленты' },
            { name: 'Репосты отметок' },
            { name: 'Одна соцсеть на&nbsp;выбор' },
          ]
        },
        { title: 'Тариф "Оптимальный"',
          price: '35 500 ₽',
          button: 'Оставить заявку',
          footnote: 'Возможно корректировки в&nbsp;зависимости от&nbsp;выбранной социальной сети.',
          more: true,
          props: [
            { name: 'Публикации в&nbsp;ленту - <span class="text-nowrap">8 / 12 шт.</span>' },
            { name: 'Публикации в&nbsp;истории - <span class="text-nowrap">до 20 шт.</span> +&nbsp;репосты постов из&nbsp;ленты' },
            { name: 'Проведение 1&nbsp;розыгрыша (подарок рассчитывается отдельно)' },
            { name: '1&nbsp;трендового видео для&nbsp;ленты' },
          ]
        },
        { title: 'Тариф "Премиум"',
          price: '95 500 ₽',
          button: 'Оставить заявку',
          footnote: 'Возможно корректировки в&nbsp;зависимости от&nbsp;выбранной социальной сети.',
          more: true,
          props: [
            { name: 'Публикации в&nbsp;ленту - <span class="text-nowrap">8 / 12 шт.</span>' },
            { name: 'Публикации в&nbsp;истории - <span class="text-nowrap">до 20 шт.</span> +&nbsp;репосты постов из&nbsp;ленты' },
            { name: 'Проведение 1&nbsp;розыгрыша (подарок рассчитывается  отдельно)' },
            { name: 'До 3х трендовый видео для&nbsp;ленты' },
          ]
        },
      ]
    }

block content
  main.main
    +section
      .inner
        +banner
    +section('--bg, --mt0')
      +section('--ov-hidden')
        .inner
          +section-head('--bb')
            +ui-h2('Наши тарифы', 'section-head, --bold')
            +ui-p1('Выберите для себя удобный тариф исходя из ваших целей', 'section-head').text-grey
          +tariffs(tariffsData)
      +section
        .inner
          +section('--grid')
            +section-head('section')
              +ui-h2('Дополнительные услуги', 'section-head, --bold')
              +ui-p1('В нашем прайсе есть дополнительные услуги для&nbsp;вашего удобства', 'section-head').text-grey
            +section-main('section')
              +services-adt(ServicesAdtItems)#services-adt
            +ui-button('Смотреть все', 'section, --outline, --min-w, --px-xl')(onclick=`toggleHidden(this, '#services-adt')` data-text-start='Смотреть все' data-text-end='Свернуть')
    +section('--ov-hidden')
      .inner
        +section-head('--t-flex, , --w-items-l')
          +ui-h2('Наша команда', 'section-head, --bold')
          +ui-p1('В нашей команде работают настоящие профи с&nbsp;креативным подходом и&nbsp;богатым багажом знаний!', 'section-head').text-body
        +team
    +section
      .inner
        +section-head
          +ui-h2('О компании', '--bold')
        +about-nums
    +section
      .inner
        +section-head
          +ui-h2('Сертифицированные  <br>специалисты', '--bold')
        +certified
    +section('--bg')
      +section
        .inner
          +section-head('--t-flex, --bb')
            +ui-h2('Этапы запуска вашего проекта', 'section-head, --bold')
            +ui-p1('Каждый проект индивидуален, именно поэтому на&nbsp;каждом этапе мы учитываем все нюансы и&nbsp;ваши пожелания!', 'section-head').text-grey
          +stages
      +section('--ov-hidden')
        +section
          .inner
            +section-head('--t-flex').text-center.text-center--t-left
              +ui-h2('Наши клиенты', 'section-head, --bold')
              +ui-p1('Мы работаем с&nbsp;крупными компаниями по&nbsp;всей России и&nbsp;за&nbsp;ее пределами', 'section-head').text-grey
            +clients#clients
            +section('--mt-xxxs', 'div').block-none.block-none--mobile.text-center
              +ui-button('Смотреть все', '--outline, --w100, --min-w, --px-xl')(onclick="toggleHidden(this, '#clients')" data-text-start='Смотреть все' data-text-end='Свернуть')
        +section
          +many-clients
        +section#section-form
          .inner
            +connection
    +popup#popup-thx
      +form-thx
