mixin cases-filter(mods)
  -
    const baseName = 'cases-filter'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .cases-filter(class=allMods)&attributes(attributes)
    +ui-p1('Тип', 'cases-filter, --medium').text-body
    .cases-filter__options
      +ui-choice('VK реклама', 'cases-filter-1', '--light, --dark-checked, --l-xl')
      +ui-choice('Яндекс Директ', 'cases-filter-2', '--light, --dark-checked, --l-xl')
      +ui-choice('Лендинги', 'cases-filter-3', '--light, --dark-checked, --l-xl')
      +ui-choice('Другое', 'cases-filter-4', '--light, --dark-checked, --l-xl')
    block
