mixin tags(data, mods)
  -
    const baseName = 'tags'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .tags(class=allMods)&attributes(attributes)
    each item in data
      .tags__item(class=item.mods)
        +ui-p1(item.text)
    block
