mixin count-list(items, mods)
  -
    const baseName = 'count-list'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .count-list(class=allMods)&attributes(attributes)
    each item, index in items
      .count-list__item
        +ui-h4(`0${index+1}`, '--bold', 'div').count-list__count
        +ui-p1(item.title, 'count-list, --t-h4, --medium, --t-h-bold')
    block
