.form {
  position: relative;
  @include media-tablet {
    padding: 30px 25px 20px;
    background: $elements-group;
    border-radius: 18px;
  }
  @include media-laptop {
    padding: 35px 43px 20px;
  }
  &__ui-h4 {
    margin-bottom: 16px;
  }
  &__section {
    &:not(:last-child) {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid #232323;
    }
    &--mb-s {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &--bb0 {
      &:not(:last-child) {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
  &__ui-h6 {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__fields {
    display: grid;
    gap: 8px;
  }
  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__fn {
    margin-top: 13px;
    font-family: $fontInt;
    font-size: 13px;
    line-height: 1.26;
    color: $body-text;
    @include media-laptop {
      max-width: 297px;
    }
    a {
      color: $bg-white;
    }
    &--mt-l {
      margin-top: 28px;
    }
  }
  &--bg-none {
    padding: 0;
    background: none;
    border-radius: 0;
  }
  &--light {
    @include media-tablet {
      background: $white;
      border: 1px solid rgb(198 198 198 / 0.58);
    }
    .form {
      &__section {
        border-color: #DEDEDE;
      }
      &__fn {
        a {
          color: $elements-group;
        }
      }
    }
  }
}
