mixin form(mods = '', type)
  -
    const baseName = 'form'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const inputMod = mods.includes('--light') ? '--light' : ''
    const choiceMod = mods.includes('--light') ? '--light' : ''

  case type
    when 'request-call'
      form.form(class=allMods)&attributes(attributes)
        .form__section.form__section--mb-s.form__section--bb0
          .form__fields
            +ui-input('name', inputMod)(placeholder='Имя')
        .form__section.form__section--mb-s.form__section--bb0
          +ui-button('', '--blue, --w100')(type='submit')
            span.ui-button__img: img(src='../../images/forefinger.gif' alt='')
            | Заказат звонок
          .form__fn.form__fn--mt-l Нажимая кнопку отправить, вы соглашаетесь с&nbsp;
            a(href='#' target='_blank') политикой конфиденциальности

    default
      form.form(class=allMods)&attributes(attributes)
        +ui-h4('Свяжитесь с нами!', 'form, --bold').block-none.block-none--bf-tablet
        .form__section
          .form__fields
            +ui-input('tel', inputMod)(placeholder='Телефон')
              .ui-input__error.block-fade-in.active Поле заполнено некорректно
            +ui-input('name', inputMod)(placeholder='Имя')
        .form__section
          +ui-h6('Выберите услугу:', 'form, --bold')
          .form__options
            +ui-choice('Web-разработка', 'web-dev', choiceMod)
            +ui-choice('SEO продвижение', 'seo', choiceMod)
            +ui-choice('Quiz bot', 'quiz-bot', choiceMod)
            +ui-choice('Контекстная реклама', 'context-ads', choiceMod)
            +ui-choice('Таргетированная реклама', 'target-ads', choiceMod)
        .form__section
          +ui-button('', '--blue, --w100')(type='submit')
            span.ui-button__img: img(src='../../images/forefinger.gif' alt='')
            | Отправить
          .form__fn Нажимая кнопку отправить, вы соглашаетесь с&nbsp;
            a(href='#' target='_blank') политикой конфиденциальности
        block
