.ui-swiper {
  &-scrollbar {
    width: 100%;
    max-width: 110px;
    margin-top: 20px;
    @include media-tablet {
      max-width: 175px;
      margin-top: 25px;
    }
    .swiper-scrollbar {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background: #ededed;
      border-radius: 4px;
      &-drag {
        background: #343434;
      }
    }
    &--light {
      .swiper-scrollbar {
        background: #606060;
        &-drag {
          background: $bg-white;
        }
      }
    }
  }
  &-button {
    --swiper-navigation-size: 60px;

    position: relative;
    top: 0;
    right: 0;
    left: 0;
    flex-shrink: 0;
    width: var(--swiper-navigation-size);
    height: var(--swiper-navigation-size);
    margin: 0;
    color: $bg-white;
    background: $blue;
    border-radius: 50%;
    transition: 0.3s;
    &::after {
      display: none;
    }
    .svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
